*.log
private
build_script
dlcv_labelme_ai
tests/*.tiff
tests/*.json
*.bat
labelme/labelme_private

/.cache/
/.pytest_cache/

/build/
/dist/
/*.egg-info/
/.venv/
installer_output/
assets/models/*.onnx

*.py[cdo]

.DS_Store
.idea/
